//update info nav
.previous {
  cursor: pointer;
  width: max-content;
  padding: 2%;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  img {
    margin-right: 10px;
  }
}

.account_section {
  padding: 0.5% 10%;
  //   border: dashed;
  h1 {
    margin-bottom: 50px;
    color: $primary;
  }
  .account_nav_wrapper {
    display: flex;
    justify-content: space-around;
    .account_nav_lists {
      padding: 20px;
    }
    .account_nav_listsACTIVE {
      @extend .account_nav_lists;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px 0px inset;
    }
  }
}

//update email, password or name
.update_section {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  width: 90%;
  height: 70vh;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .update_form_wrapper {
    width: 35%;
    height: 100%;

    .update_form {
      .update_form_input {
        margin-bottom: 25px;
        input {
          padding: 20px 40px 20px 20px;
          width: 100%;
          font-size: 15px;
          transition: ease-in 1.5s;
          box-sizing: border-box;
          outline: none;
          transition: ease-in 0.5s;
          background-color: $input-backgroundColor;
          border: none;
          border-radius: $border-radius;
          overflow: visible;
        }
        input:focus {
          background-color: $input-backgroundColorLighter;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        }
      }
      small {
        background-color: $warning;
        padding: 5px;
        display: block;
        width: max-content;
        border-radius: 5px;
        margin-bottom: 25px;
      }
      .update_button {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 20px;
        button {
          cursor: pointer;
          font-size: 20px;
          background-color: $primary;
          color: $text-black;
          width: 100%;
          padding: 4%;
          border: none;
          border-radius: $border-radius;
        }
      }
    }
  }
}
