@import "variables.scss";


body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  position: relative;
  height: 100%;
}

.material-symbols-outlined {
  cursor: pointer;
}
li,
a {
  list-style: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

//Navigation
.navBar-section {
  scroll-behavior: smooth;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 999;
  position: fixed;
  width: 100%;
  background-color: white;
  height: max-content;
  overflow: hidden;

  .nav-user {
    text-align: center;
    padding-top: 1%;
    p {
      margin: 0;
    }
  }

  .topNavContainter {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 20px;

    .navBarListsContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      width: 40%;
      padding: 10px;

      .searchInput {
        align-self: flex-end;
        width: max-content;

        input {
          padding: 15px;
          border: none;
          width: 100%;
          border-radius: $input-radius;
          background-color: $input-backgroundColor;
          outline: none;
          font-size: 15px;
        }
      }
    }
    .navBarListsContainer2 {
      @extend .navBarListsContainer;
      .navBarlists {
        padding: 5px;
      }
      img {
        cursor: pointer;
      }
      width: 30%;
    }
  }
}

.account_list {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  height: 160px;
  background-color: white;
  padding: 10px;
  margin-top: 80px;
  margin-left: 76%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  border-radius: 5px;

  div {
    background-color: $primary-hover;
    padding: 8px;
    border-radius: 5px;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.account_list[hidden] {
  display: none;
}

//Sidebar
.sideBar-Section {
  scroll-behavior: smooth;
  background-color: $backgroundColor;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  height: 100%;
  position: fixed;
  top: 10.5%;
  width: 20%;

  .sideBar-containter {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

    .sideBar {
      @extend .sideBar-containter;
      margin-top: 80px;
      align-items: unset;
      height: 30%;
      justify-content: space-around;
      .sideBar-contents {
        display: flex;
        justify-content: space-between;
        color: $text-white;
        width: 55%;
        align-items: center;
        padding-left: 70px;
        .sideBar-notes-list {
          display: flex;
        }
        .note-count {
          box-sizing: border-box;

          span {
            background-color: $text-black;
            color: $text-white;
            box-sizing: border-box;
            padding: 5px;
            border-radius: 5px;
            width: fit-content;
          }
        }

        .material-symbols-outlined {
          margin-right: 10px;
          color: $text-black;
        }
      }
    }
  }
}
// //Sidebar collapsed/ no display
// .sideBar-Section-disabled {
//   display: none;
// }

//Account

.accountSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: $text-black;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .accountNavBar {
    margin-top: 40px;
  }
  .accountContainer {
    .error {
      margin-top: 8px;
      box-sizing: border-box;
      padding-left: 0px;
      height: max-content;

      small {
        box-sizing: border-box;
        padding: 5px;
        height: max-content;
        color: $text-white;
        background-color: $warning;
        border-radius: 5px;
      }
    }
    width: 40%;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .formInput {
      position: relative;
      margin-top: 5px;
      margin-bottom: 30px;
      width: 100%;
      align-self: center;
      input {
        padding: 20px 40px 20px 20px;
        width: 100%;
        font-size: 15px;
        transition: ease-in 1.5s;
        box-sizing: border-box;
        outline: none;
        transition: ease-in 0.5s;
        background-color: $input-backgroundColor;
        border: none;
        border-radius: $border-radius;
        overflow: visible;
      }
      input:focus {
        background-color: $input-backgroundColorLighter;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      }
      .passwordVisibility {
        position: absolute;
        bottom: 3em;
        top: 1em;
        left: 90%;
      }
      button {
        width: 100%;
        height: 100%;
        padding: 15px;
        font-size: 20px;
        background-color: $primary;
        color: $text-black;
        border: none;
        cursor: pointer;
        border-radius: $border-radius;
        transition: 0.7 ease-in-out;
      }
      button:hover {
        background-color: $primary-hover;
      }
      button:disabled {
        background-color: $disabled;
      }
    }
    .reset_password {
      margin-bottom: 50px;
      a {
        color: $primary;
        text-decoration: underline;
      }
    }
    .accountAlready {
      a {
        font-size: larger;
        font-weight: 800;
        text-decoration: underline;
      }
    }
    .formError {
      @extend .formInput;
    }
  }
}

//GoogleLogin Button
.googleDiv {
  background-color: $primary-hover;
  border-radius: $border-radius;
  cursor: pointer;
  width: max-content;
  align-items: center;
  display: flex;
  padding: 5px;
  .googleContent {
    margin-left: 5px;
    height: inherit;
    text-align: center;
  }
}

//Error Section

.errorSection {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .errorWrapper {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    margin-top: 30px;
    h1 {
      margin-bottom: 5px;
      color: $warning;
      color: $text-white;
      font-weight: 800;
    }
    .infoMessage {
      align-self: center;
      margin-bottom: 50px;
      small {
        display: flex;
        align-items: center;
        img {
          margin-right: 5px;
        }
      }
    }
  }
  .backToHome {
    font-size: 20px;
    margin-top: 30px;
    a {
      font-weight: 600;
      text-decoration: underline;
    }
  }
}

.openSidebar {
  padding-top: 100px;
  margin-left: 20%;
}
