$primary: #ff8c3f !global;
$secondary: #007fff !global;
$primary-hover: #ffb889;
$secondary-hover: #0080ffe7;
$warning: #ff4e3e;
$success: #b1fab5;
$text-white: white;
$text-black: black;
$border-radius: 15px;
$input-radius: 10px;
$input-backgroundColor: rgba(160, 160, 160, 0.402);
$input-backgroundColorLighter: rgba(160, 160, 160, 0.134);
$backgroundColor: #0080ffd4;
$disabled: #0080ff8e
